body {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

#centertext
{
  height: 90%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}