<!doctype html> 
<html lang="en"> 
<head>
	<meta charset="UTF-8"> 
	<title>Ugly DB Ops</title> 
</head> 
<body>
	<div>
		<h2> Add New Entry: </h2>
		<form action="http://localhost:3000/newentry" method="post">
		  Word:<br>
		  <input type="text" name="word">
		  <br>
		  First Line:<br>
		  <input type="text" name="firstline">
		  <br>
		  Link:<br>
		  <input type="text" name="link">
		  <br>
		  Main Content:<br>
		  <input type="text" name="maincontent">
		  <br><br>
		  <input type="submit" value="Submit!">
		</form>
	</div>
	<div>
		<h2> Read from Db: </h2>
		<form action="http://localhost:3000/readentry" method="post">
			Word:<br>
			<input type="text" name="word">
			<br><br>
			<input type="submit" value="Submit!">
		</form>
	</div>

</body>
</html> 