<!doctype html> 
<html lang="en"> 
<head>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="css/dbops.css"> 
	<title>Ugly DB Ops</title> 
</head> 
<body class="center">
	<div>
		<h2> Add New Entry: </h2>
		<form action="http://localhost:3000/newentry" method="post">
		  Word:<br>
		  <input type="text" name="word">
		  <br>
		  First Line:<br>
		  <textarea rows="3" cols="50" name="firstline"></textarea>
		  <br>
		  Link:<br>
		  <input type="text" name="link">
		  <br>
		  Main Content:<br>
		  <textarea rows="3" cols="50" name="maincontent"></textarea>
		  <br><br>
		  <input type="submit" value="Submit!">
		</form>
	</div>
	<div>
		<h2> Read from Db: </h2>
		<form action="http://localhost:3000/readentry" method="post">
			Word:<br>
			<input type="text" name="word">
			<br><br>
			<input type="submit" value="Submit!">
		</form>
	</div>

</body>
</html> 