doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    link(rel='stylesheet', type='text/css', href='/css/home.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/specials.js')
    script(src='/js/home.js')
    title Home
  body
    #container
      #textinputdiv.centertext.exaggerated
        input#textinput.minimal(type='text', maxlength='20', autocomplete='off', autofocus='', value=word)
      #contentflexbox.centertext
        // random word entries
        p#firstline.contentbox
        p#maincontent.contentbox
        p.contentbox
          a#link(href='#', target='_blank')
        // special pages
        p#specialcontent.contentbox
        //error line 
        p#errorline.contentbox
      .bottomlefttext.dull
        p try this to start: ew
