<!doctype html> 
<html lang="en"> 
<head>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/home.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/home.js"></script> 
	<title>Home</title> 
</head> 
<body>
	<div id="container">
		<div id="textinputdiv" class="centertext exaggerated">
			<input id="textinput" class="minimal" type="text" maxlength="20" autocomplete="off" autofocus/>
		</div>
		<div id="contentflexbox" class="centertext">
			<p class="contentbox" id="firstline"></p> 
			<br><br>
			<p class="contentbox" id="maincontent"></p>
			<br><br>
			<p class="contentbox"><a href="#" target="_blank" id="link"></a></p>
			<br><br>
			<!-- <p class="contentbox" id="date"></p> -->
		</div>
		<div class="bottomlefttext dull">
			<p>try this to start: ew</p>
		</div>
	</div>

</body>
</html> 